<footer class="main-footer">
    <strong>Copyright &copy; Phoebe Gao</strong> All rights reserved.
</footer>
<div class="modal fade" id="read" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">用户可以发起个人赛与合作赛,个人赛为个人目标合作赛为多人完成目标公里数。对于不同等级的用户,可同时参与的活动数最多为(等级+1)*3</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>